<footer class="footer-distributed">

	<div class="footer-right">

		<a href="https://www.facebook.com/gittyinc" target="_blank"><img src="../../assets/links/fac.png" class="abc" ></a>
		<a href="https://twitter.com/gittyinc" target="_blank"><img src="../../assets/links/twi.png" class="abc"></a>
		<a href="https://www.linkedin.com/company/gitty%E2%84%A2/" target="_blank"><img src="../../assets/links/link.png" class="abc"></a>
		<a href="https://www.instagram.com/gittyinc/" target="_blank"><img src="../../assets/links/insta.png" class="abc"></a>
		<a href="https://angel.co/gitty-inc-1" target="_blank"><img src="../../assets/links/hand.png" class="abc" style="width: 25px;color: rgb(250, 245, 245);"></a>
		<a href="https://www.sourcecon.com/how-i-won-the-2016-sourcecon-hackathon-challenge/" ><img src="../../assets/links/cloud.png" class="abc"></a>

	</div>

	<div class="footer-left">

		<p class="footer-links">
			<a href="#">Privacy&Terms</a>

			
		</p>

		<p>Company Name &copy; 2018 </p>
	</div>

</footer>