













<!-- noooooooooooooooooooooooooooooooooooooooo  -->















<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "square-jelly-box"
></ngx-spinner>

<div *ngIf="form_display">
<h1 align="center"  style="color:#2ecc71;font-family:georgia,garamond,serif;font-size:24px;font-style:italic;">Fill your deatils </h1>
</div>
 
<h4 align="center"  style="color:green" >{{ success }}</h4>
<h4 align="center"  style="color:red" >{{ notsuccess }}</h4>

<!-- <div *ngIf="!form_display">
  <p align="center" >Chech your mail and conform before login  </p>
</div> -->
<br>
<div *ngIf="form_display">
<div class="example-container">
  <form  (ngSubmit)="ok_button()">
<mat-radio-group class="example-radio-group" id = "radiobtn" name="type" [(ngModel)]="user_type">
    <mat-radio-button class="example-radio-button"  *ngFor="let season of seasons" [value]="season">
      {{season}}
      
    </mat-radio-button>
  </mat-radio-group>
 

      <mat-form-field>
        <input matInput placeholder="Enter your full name" name="firstname" [(ngModel)]="username" >
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter your Phone number" name="Phone" [(ngModel)]="phone_number" >
      </mat-form-field>

      <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" [formControl]="emailFormControl" name="email" [(ngModel)]="email"
                   [errorStateMatcher]="matcher">
            <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </form>
        
      <p align="center"  style="color:red;" *ngIf="password1 != password2" > Both passwords must be same  </p>
      <p align="center"  style="color:red;" > {{ error }}  </p>

      <mat-form-field>
          <input matInput placeholder="Enter your password" name="password" [(ngModel)]= "password1" [type]="hide ? 'text' : 'password'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Re-Enter your password" name="password" [(ngModel)]= "password2" [type]="hide ? 'text' : 'password'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>


        <password-strength-meter  [password]="password1"  ></password-strength-meter>


  
    <!-- <button mat-raised-button  align="center"     type="submit" >{{ok}}</button> -->

    <!-- <input  id= "submit" type="Submit"  value={{ok}}    > -->
 
    </form>
  </div>
  </div>
