<!-- ------------------------- grid 1 complted -->

<div class="contanier">
  
         
    <div class="grid2" >
      <section _ngcontent-c7="" data-next="yes" id="fh5co-hero">
<div _ngcontent-c7="" class="fh5co-intro">
  <div _ngcontent-c7="" class="container">
    <div _ngcontent-c7="" class="row title-row">
        <h1 _ngcontent-c7="" class="title">
          <b _ngcontent-c7="" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Simplify Recruiting
            <hr id = "line">
            <span _ngcontent-c7="" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using Gitty</span>
          </b>
        </h1>
        <br _ngcontent-c7="">
        <h2 _ngcontent-c7="" class="tag-line">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;POWERED BY AI.
        </h2>
    </div>
  </div>
</div>
</section>
        
</div>

</div>
<!-- ------------------------- grid 1 complted -->






<!-- grid 2 starts here  -->
<div class="wlBlock" id="wlBlock">
    <section _ngcontent-c7="" id="fh5co-services">
<div _ngcontent-c7="" class="container">
  <div _ngcontent-c7="" class="row">
    <hr _ngcontent-c7="" class="headers-hr">
    <h1 _ngcontent-c7="" class="services-title">OUR <br _ngcontent-c7="">SERVICES</h1>
    <div _ngcontent-c7="" class="col-md-12 col-xs-12">
      <div _ngcontent-c7="" class="row service-row">
        <div _ngcontent-c7="" class="col-md-2 col-xs-12 col-center">
          <img _ngcontent-c7="" class="service-icons" style="width:60%;" src="https://img.gitty.ai/media/public/icons/source-icon.png">
          <p _ngcontent-c7="" class="services-text">
            SOURCE TECH TALENT USING AI
          </p>
        </div>
        <div _ngcontent-c7="" class="col-md-2 col-xs-12 col-center">
          <img _ngcontent-c7="" class="service-icons" style="width:74%;" src="https://img.gitty.ai/media/public/icons/recruit-icon.png">
          <p _ngcontent-c7="" class="services-text">
            RECRUIT PASSIVE &amp; ACTIVE TALENT
          </p>
        </div>
        <div _ngcontent-c7="" class="col-md-2 col-xs-12 col-center">
          <img _ngcontent-c7="" class="service-icons" style="width:48%;" src="https://img.gitty.ai/media/public/icons/interviews-icon.png">
          <p _ngcontent-c7="" class="services-text">
            TRACK INTERVIEWS USING GITTY
          </p>
        </div>
        <div _ngcontent-c7="" class="col-md-2 col-xs-12 col-center">
          <img _ngcontent-c7="" class="service-icons" style="width:60%;" src="https://img.gitty.ai/media/public/icons/metrics-icon.png">
          <p _ngcontent-c7="" class="services-text">
            RUN RECRUITING METRICS
          </p>
        </div>
        <div _ngcontent-c7="" class="col-md-2 col-xs-12 col-center">
          <img _ngcontent-c7="" class="service-icons" style="width:45%;" src="https://img.gitty.ai/media/public/icons/message-icon.png">
          <p _ngcontent-c7="" class="services-text">
            MESSAGE APPLICANTS
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- grid 2 ends here -->

<section id="fh5co-who-we-are">
    <div class="container">
      <div class="row">
        <hr class="headers-hr">
        <h2 class="who-title animate-box">WHO <br>WE ARE</h2>
        <div class="col-md-12 col-xs-12 text-center">
          <p class="fh5co-sub-lead animate-box section-text">We are a group of Computer Science, and Staffing experts who built Gitty™ – an AI tech sourcing bot. Gitty™ uses proprietary algorithms, open-source data, and creativity to search and invite people who can tell a computer what to do, a.k.a.
            Software Developers. Our mission is to connect companies with world-class software engineers using AI. Sign up to apply for full time, part time, contract, and internships. </p>
        </div>
      </div>
    </div>
  </section>

<section id="fh5co-our-work">
    <div class="container">
      <hr class="headers-hr">
      <h2 class="fh5co-lead animate-box our-work-title"><b>OUR <br>WORK</b></h2>
      <div class="fh5co-text animate-box col-md-12 col-xs-12">
        <p class="fh5co-sub-lead animate-box section-text">
          Using automation we've made over 100 hires at high growth venture backed companies in less than 12 months. We excel in recruiting Designers and Engineers (Software, Systems, DevOps, Data, Mobile, Full-Stack, and Front-End) anywhere between 3 and 20 years
          experience. ROI in 2018 is trending 4x higher than an average agency recruiter.
        </p>
      </div>
      <div class="row text-center">
        <img class="word-image animate-box" src="https://img.gitty.ai/media/public/common/word-cloud-min.png">
      </div>
    </div>
  </section>




  <section id="fh5co-our-tech">
      <div class="container">
        <hr class="headers-hr">
        <h2 class="fh5co-lead animate-box tech-title"> <b>OUR <br>TECHNOLOGY</b></h2>
        <div class="fh5co-text animate-box col-xs-12">
          <p class="fh5co-sub-lead animate-box tech-text">
            We use AI to source engineers in a cutting edge fashion that's yielding 10x productivity. Gitty™ ATS enhances the usability and user experience, making recruiting fun, intuitive, and productive for staffing leads, recruiters, and founders.
          </p>
        </div>
      </div>
    </section>
  
  






<!-- --------------------------------------------image slider -->
<div class="slider">
  <ngx-hm-carousel
    [(ngModel)]="index"
    (ngModelChange)="indexChanged($event)"
    [autoplay-speed]="3000"
    [autoplay]="true"
    [infinite]="infinite"
    [between-delay]="2000"
    class="carousel c-accent">
   
    <section ngx-hm-carousel-container class="content">
      <article class="item cursor-pointer"
        ngx-hm-carousel-item
        *ngFor="let image of images">
        <div class="img"
        
          [style.backgroundImage]="'url('+image.url+')'">
          <!-- <p>{{ avatar | json }} </p> -->
        </div>
      </article>
    </section>
   
    <ng-template #carouselPrev>
      <div class="click-area">
        <i class="material-icons">keyboard_arrow_left</i>
      </div>
    </ng-template>
    <ng-template #carouselNext>
      <div class="click-area">
        <i class="material-icons">keyboard_arrow_right</i>
      </div>
    </ng-template>
   
    <ng-template #carouselDot let-model>
      <div class="ball bg-accent"
        [class.visible]="model.index === model.currentIndex"></div>
    </ng-template>
    
   
    <!-- <ng-template #carouselProgress let-progress>
      <div class="progress"></div>
    </ng-template> -->
   
  </ngx-hm-carousel>
  </div>
   <!----------------------------------------------------  image slider---------------------->
  